#top {
  margin-left: 300px;
  margin-top: 60px;
  /* margin-right: 160px;
  margin-bottom: 160px; */

  padding: 5px;
  /* border-color: red;
  border-width: 1px;
  border-style: solid; */
}

#hi {
  /* border-color: red;
  border-width: 1px;
  border-style: solid; */
  /* margin-left: 160px;
  margin-top: 10px;
  margin-right: 160px;
  margin-bottom: 160px; */
  padding: 5px;
}